*{
    padding: 0;
    margin: 0;
}
body{
    padding: 20px;
}
.item{
    background-color: gold;
    min-height: 50px;
    border: 1px solid grey;      
}   

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 100px 100px 100px; */
    /* nó tự động cho chiều cao là 200px */
    /* grid-auto-rows: 200px; */
    grid-auto-rows: (60px, auto);
    grid-template-areas: 
     "aa aa aa"
     "cc bb bb"
     "cc bb bb"
}

.item_5{
    /* grid-column: 2 / 4; */
    grid-area: aa;
}
.item_4{
    /* grid-row: 2 / 6; */
    grid-area: bb;
}